@import "../../styles/colors.scss";

main {
  margin: auto;
  margin-top: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    color: $bg-dark;
    text-transform: uppercase;
    text-align: center;
    padding: 0 10px;
    font-size: 1.4em;
  }
  .link-list-holder {
    box-sizing: border-box;
    box-shadow: 0 -5px 5px -5px $bg-dark;
    width: 100%;
    padding: 0 10px;
    ol {
      padding: 0;
      li:nth-child(even) {
        background: $bg-dark-secondary;
        h4 {
          color: $bg-light;
          border-bottom: 1px solid $bg-light !important;
        }
        a {
          color: $bg-light;
          &:hover {
            color: $text-light;
          }
        }
      }
      li:last-child {
        box-shadow: 0 5px 5px -5px $bg-dark;
        border-bottom: 1px solid $bg-dark;
        border-radius: 0;
      }
      li {
        border-radius: 5px;
        display: flex;
        padding: 5px 0;
        justify-content: space-between;
        a {
          display: flex;
          justify-content: center;
          color: $bg-dark;
          padding-top: 3px;
          &:hover {
            color: $text-hover;
          }
        }
        h4 {
          margin: 0 0 10px 0;
          color: $bg-dark;
          text-transform: uppercase;
          text-align: center;
          flex: 1;
        }
        .web-link {
          overflow: hidden;
          transition: max-height 400ms ease-in-out;
          height: auto;
          max-height: 150px;
          word-break: break-all;
          padding: 0 20px;
          h4 {
            margin: 0;
            padding: 5px 0 0;
            display: flex;
            justify-content: center;
            border-bottom: 1px solid $bg-dark-secondary;
            padding-bottom: 2px;
          }
        }
        .web-link.collapsed {
          max-height: 0;
        }
        .arrow-left {
          transition: transform 400ms ease-in-out;
        }

        .arrow-down {
          transition: transform 400ms ease-in-out;
          transform: rotate(90deg);
        }
        .svg-holder {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }
    }
  }

  .arrow-left,
  .arrow-down,
  .copy {
    path {
      fill: $bg-dark-secondary;
    }
    &:hover {
      path {
        fill: $text-hover;
      }
    }
  }

  li:nth-child(even) {
    .arrow-left,
    .arrow-down,
    .copy {
      path {
        fill: $bg-light;
      }
      &:hover {
        path {
          fill: $text-light;
        }
      }
    }
  }
}



@media only screen and (min-width: 614px) {
  // Width:
  .url-maker-container,
  .link-list-holder {
    width: 80% !important;
  }
  header {
    h1 {
      margin-top: 200px !important;
    }
    .url-maker-container {
      input {
        font-size: 0.9em !important;
      }
      button {
        width: 130px !important;
      }
    }
  }
  main {
    h2 {
      font-size: 1.5em;
    }
  }
}

@media only screen and (min-width: 992px) {
  // Width:
  .url-maker-container,
  .link-list-holder {
    width: 60% !important;
  }
}

@media only screen and (min-width: 1300px) {
  // Width:
  .url-maker-container,
  .link-list-holder {
    width: 40% !important;
  }
}
