@import '../../styles/colors.scss';

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  box-shadow: 0 -5px 5px -5px $bg-dark;
  background: $bg-light;

  h3 {
    text-transform: uppercase;
    
  }
}