@import '../../styles/colors.scss';

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background: $bg-primary;
  h1 {
    text-transform: uppercase;
  }
}